<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=命名空间，唯一不重复-->
<mapper namespace="com.hs.dao.RoleDao"><!--命名空间规则
传统模式：（持久化类（实体化Bean）的类名全路径com.hs.Skill）
接口代理模式：接口的全路径r-->
	<!--type直接用的类名别名方式，在核心配置文件里设置了的-->
	<resultMap type="Role" id="BaseResultMapper">
		<id column="role_id" property="role_id"/>
		<result column="role_name" property="role_name"/>
		<result column="role_key"  property="role_key"/>
		<result column="status"  property="status"/>
	</resultMap>
	<sql id="sys_role_columns">
		role_id,role_name,role_key,status
	</sql>
	<sql id="sys_role_columns_alias">
		${alias}.role_id,${alias}.role_name,${alias}.role_key,${alias}.status
	</sql>
	<select id="getRoleByPk" parameterType="_int" resultMap="BaseResultMapper">
		select <include refid="sys_role_columns"/>
		from sys_role
		where role_id = #{role_id}
	</select>
</mapper>